pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

h1 {
    text-align: center;
    background: #eee;
    padding: 5px;
    margin-bottom: 0.6em;
    font-size: 1.5em;
}
